body {
  color: #ddd;
  background-color: #050505;
  font-family: sans-serif;
}
#particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}
#intro {
  margin: auto;
  max-width: 25em;
}
a {
  color: #ddd;
  text-decoration: none;
}
a.unimp {
  color:#666;
}
